@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}

:root {
  --color-primario: #ffffff;
  --color-secundario: #000;
  --color-destacado: crimson;
}

@keyframes aparicion {
  0% {
    opacity: 0;
    filter: grayscale(100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    filter: grayscale(0%);
  }
}

/*Contenedor*/

.container {
  min-height: 100vh;
  width: 100%;
  padding: 30px 0;
}

/* Colores */

.dark {
  color: var(--color-primario);
  background-color: var(--color-secundario);
}

.white {
  color: var(--color-secundario);
  background-color: var(--color-primario);
}

.destacado {
  color: var(--color-destacado);
}

.text-pad {
  width: 50%;
  min-width: 380px;
}

.text-center {
  text-align: center;
}

/* Botones */
a.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
}

.btn-dest {
  color: var(--color-destacado);
  border: 1px solid var(--color-destacado);
}

.btn-dest:hover {
  background-color: var(--color-destacado);
  color: var(--color-primario);
  transition: 0.5s;
}

.btn-prim {
  color: var(--color-primario);
  border: 1px solid var(--color-destacado);
  background-color: var(--color-destacado);
}

.btn-prim:hover {
  background-color: var(--color-secundario);
  color: var(--color-primario);
  transition: 0.5s;
}

/* Body */

body {
  display: flex;
  flex-direction: column;
  animation: aparicion 4s;

}

/* Fondo de pagina */

#inicio {
  background-image: url(../fotos/man-1253004_1280.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;

  z-index: 100;
}

#sobremi {
  background-image: url(../fotos/man-1866514_1280.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position: left 40%;

  z-index: 0;

}

.nav-container {
  width: 70%;
  min-height: 260px;
  height: 50vh;
  margin: 55px auto 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

nav.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

nav ul li {
  list-style-type: none;
  padding: 15px;
}

nav ul li a {
  color: var(--color-primario);
  text-decoration: none;
  transition: 1s;
}

nav ul li a:hover {
  color: var(--color-destacado);
  transition: 0.5s;

}

nav.menu h3 {
  margin-left: 15px;
}

.titulos {
  text-align: right;
  padding-bottom: 10px;
}

.titulos h5 {
  margin-bottom: 10px;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

h5 {
  font-weight: 300;
}

/* centrar pagina */

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info h2 {
  font-size: 2.2rem;
}

.info p {
  font-weight: 300;
}

.info p:first-of-type {
  margin-top: 20px;
}

.info p:last-of-type {
  margin-bottom: 10px;
}

/* articulos */
.articulos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modulo {
  flex: 1 0 25%;
  padding: 20px;
  margin: 2vw;

  min-width: 180px;
  border: 1px solid var(--color-destacado);
  /* background-color: var(--color-secundario); */
  /* color: var(--color-primario); */
  cursor: pointer;
  transition: 0.5s;
}

.modulo:hover {
  color: var(--color-secundario);
  background-color: var(--color-destacado);
  transition: 0.5s;
}

.modulo p {
  font-size: 0.8rem;
  text-align: center;
}

/* flecha */
#over {
  z-index: 10;
  position: fixed;
  right: 15px;
  bottom: 15px;

}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input:hover, textarea:hover {
  background-color: var(--color-destacado);
  transition: 0.5s;
}

form input[type="button"] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80px;
  cursor: pointer;
}